html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --themeblue: #0F4A8C;
    --themegrey: #F5F5F5;
    --themeyellow: #FFC107;
    --textblack: #1E1E1E;
    --Black: #000000;
    --white: #fff;
    --fontPoppins: "Poppins", sans-serif;
}

.container {
    max-width: 90%;
    width: 90%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

/* header */
.top-header-row {
    display: flex;
    padding: 10px 0px;
    font-family: var(--fontPoppins);
}

.top-header-row .rating_and_social_media {
    display: flex;
    width: 50%;
}

.top-header-row .rating_and_social_media .social-media-header {
    margin-right: 30px;
}

.top-header-row .rating_and_social_media .social-media-header ul {
    display: flex;
    align-items: center;
}

.top-header-row .top-header-right-row {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.top-header-row .top-header-right-row ul {
    display: flex;
    justify-content: end;
}

.top-header-row .top-header-right-row ul li {
    margin: 0 15px;
}

.top-header-row .top-header-right-row ul li a {
    text-decoration: none;
    color: #444444;
}

.mid-row-header {
    display: flex;
}

.mid-row-header .logo-area-header {
    width: 20%;
}

.mid-row-header .product-open-and-search-wrap-header {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-row-header .product-open-and-search-wrap-header .product-open-btn {
    display: flex;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: var(--themeblue);
    color: var(--white);
    font-family: var(--fontPoppins);
    margin-right: 2%;
}

.mid-row-header .product-open-and-search-wrap-header .product-open-btn p {
    font-weight: 300;
    margin-right: 10px;
}

/* .mid-row-header .product-open-and-search-wrap-header .product-search-box-wrapper {} */

.mid-row-header .user-icons-wrapper {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.mid-row-header .user-icons-wrapper ul {
    display: flex;
    justify-content: center;
}

.mid-row-header .user-icons-wrapper ul li:not(:last-child) {
    margin-right: 30px;
}

.mid-row-header .user-icons-wrapper ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid #aba7a7;
    border-radius: 50%;
}

.mid-row-header .user-icons-wrapper ul li a img {
    width: 25px;
    height: 25px;
}

.mid-row-header .product-search-box-wrapper input[type="text"] {
    height: 45px;
    background: #F5F5F5;
    border-radius: 5px;
    border: none;
    color: #8e8e8e;
    padding-left: 10px;
    width: 300px;
    font-family: var(--fontPoppins);
}

.mid-row-header .product-search-box-wrapper input[type="submit"] {
    background-color: #8E8E8E;
    border-radius: 5px;
    border: none;
    font-family: var(--fontPoppins);
    color: var(--white);
}

.mid-row-header .product-search-box-wrapper input[type="submit"] {
    height: 45px;
}

header nav {
    padding: 20px 0px;
    background-color: #F5F5F5;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li:not(:last-child) {
    margin-right: 40px;
}

header nav ul li a {
    text-decoration: none;
    font-family: var(--fontPoppins);
    color: var(--textblack);
    font-size: 18px;
}

header nav ul li a:hover {
    color: var(--themeblue);
}


/* Banner Home */
.banner-section-home {
    background-color: #c5dfe7;
    padding-bottom: 50px;
}

.banner-section-home h1 {
    color: var(--textblack);
    font-weight: 600;
    line-height: 70px;
    font-family: var(--fontPoppins);
}

.banner-section-home a {
    padding: 15px 10px;
    border-radius: 5px;
    background-color: var(--themeblue);
    color: var(--white);
    font-family: var(--fontPoppins);
    display: block;
    margin: 20px 0px;
    width: fit-content;
    text-decoration: none;
}

.banner-section-home ul {
    display: flex;
}

.banner-section-home ul li {
    display: flex;
    align-items: center;
    font-family: var(--fontPoppins);
    font-size: 14px;
}

.banner-section-home ul li:not(:last-child) {
    margin-right: 5px;
}

.banner-section-home ul li img {
    width: 30px;
    margin-right: 5px;
}

.product-form-filter-wrapper ul {
    justify-content: space-between;
    position: relative;
    margin-top: -30px;
}


.product-form-filter-wrapper ul li {
    width: 19%;
}

.product-form-filter-wrapper ul li.nav-item img {
    height: 100px;
    width: 100%;
    object-fit: contain;
}

.product-form-filter-wrapper ul li.nav-item {
    background-color: var(--white);
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    justify-content: center;
}

.product-form-filter-wrapper .nav-pills .nav-link {
    border: 4px solid var(--white);
}


.product-form-filter-wrapper ul li.nav-item button {
    width: 100%;
}

.product-form-filter-wrapper ul li.nav-item button h6 {
    color: var(--textblack);
    font-family: var(--fontPoppins);
}

.product-form-filter-wrapper .nav-pills .nav-link.active {
    background-color: var(--white);
    border: 4px solid var(--themeblue);
    border-radius: 0;
}

/* Popular Items Section */

.popular-items-section-wrapper {
    padding: 50px 0px;
}

.popular-items-section-wrapper h2 {
    font-family: var(--fontPoppins);
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--textblack);
}

.popular-items-section-wrapper h6 {
    font-family: var(--fontPoppins);
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
    font-weight: 400;
    line-height: 40px;
    color: var(--textblack);
}

.popular-items-section-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.popular-items-section-wrapper ul li {
    width: 24%;
    margin-bottom: 20px;
    flex-grow: 1;
    margin-left: 10px;
}

.popular-items-section-wrapper ul li .popular-item-box {
    width: 100%;
    height: 310px;
    position: relative;
}

.popular-items-section-wrapper ul li .popular-item-box:hover::before {
    display: none;
}

.popular-items-section-wrapper ul li .popular-item-box:hover h5 {
    display: none;
}

.popular-items-section-wrapper ul li .popular-item-box::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #1E1E1EB8;
    z-index: 1;
}

.popular-items-section-wrapper ul li .popular-item-box .popular-item-box-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popular-items-section-wrapper ul li .popular-item-box .popular-item-box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-items-section-wrapper ul li .popular-item-box h5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--white);
    font-family: var(--fontPoppins);
    font-weight: 700;
    z-index: 2;
    padding: 0 10%;
    text-align: center;
    font-size: 20px;
    line-height: normal;
}

/* Testimonials Section */

.testimonials-section-wrapper {
    padding-bottom: 40px;
}

.testimonials-section-wrapper h5 {
    color: var(--textblack);
    font-family: var(--fontPoppins);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.testimonials-section-wrapper .testimonails-box {
    padding: 20px;
    border: 1px solid #efefef;
    border-radius: 5px;
    height: 280px;
}

.testimonials-section-wrapper .testimonails-box .rating-testimonials img {
    width: 100px;
}

.testimonials-section-wrapper .testimonails-box h6 {
    font-family: var(--fontPoppins);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0px;
}

.testimonials-section-wrapper .testimonails-box span {
    font-family: var(--fontPoppins);
    color: #8E8E8E;
}

.testimonials-section-wrapper .testimonails-box p {
    font-family: var(--fontPoppins);
    color: var(--textblack);
    margin-top: 30px;
    font-size: 14px;
    text-align: justify;
    line-height: normal;
}

/* Testimonials Section End*/

/* Blue Text Grid Section */
.blue-text-grid-section-wrapper {
    background-color: var(--themeblue);
    padding: 30px 0px;
}

.blue-text-grid-section-wrapper h6 {
    color: var(--white);
    font-weight: 600;
    font-family: var(--fontPoppins);
    font-size: 18px;
}

.blue-text-grid-section-wrapper h3 {
    color: var(--white);
    font-weight: 600;
    font-family: var(--fontPoppins);
    font-size: 25px;
    line-height: 30px;
    margin: 15px 0px;
}

.blue-text-grid-section-wrapper p {
    color: var(--white);
    font-weight: 400;
    font-family: var(--fontPoppins);
    line-height: 30px;
}

.blue-text-grid-section-wrapper .col-lg-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Blue Text Grid Section End*/

/* Preview High Defination section */
.preview-high-defination-wrapper {
    padding: 40px 0px;
}

.preview-high-defination-wrapper h2 {
    color: var(--textblack);
    font-family: var(--fontPoppins);
    font-weight: 600;
    line-height: normal;
}

.preview-high-defination-wrapper p {
    color: #000;
    font-family: var(--fontPoppins);
    line-height: 25px;
    font-weight: 400;
    margin: 15px 0px;
}

.preview-high-defination-wrapper a {
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    background-color: var(--themeblue);
    color: var(--white);
    font-family: var(--fontPoppins);
    border: 2px solid var(--themeblue);
    border-radius: 5px;
    display: block;
    width: fit-content;
    text-transform: capitalize;
}

.preview-high-defination-wrapper a:hover {
    background-color: var(--white);
    color: var(--themeblue);
}


/* Preview High Defination section End*/

/* Sample Free pack */

.sample-pack-wrapper .inner-sample-pack {
    position: relative;
}

.sample-wrap-text-area {
    position: absolute;
    width: 500px;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
}

.sample-wrap-text-area h5 {
    text-align: #000;
    font-family: var(--fontPoppins);
    font-size: 20px;
    background-color: var(--white);
    padding: 5px;
    width: fit-content;
    margin: auto;
}

.sample-wrap-text-area a {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: var(--themeblue);
    color: var(--white);
    font-family: var(--fontPoppins);
    border: 2px solid var(--themeblue);
    border-radius: 5px;
    display: block;
    width: fit-content;
    text-transform: capitalize;
    margin: 10px auto 0 auto;
}

.sample-wrap-text-area a:hover {
    background-color: var(--white);
    color: var(--themeblue);
}

/* Sample Free pack End*/

/* Newsletter Section */

.newsletter-section-wrap {
    background-color: #444444;
    padding: 20px 0px;
    margin-top: 30px;
}

.newsletter-section-wrap p {
    color: var(--white);
    font-family: var(--fontPoppins);
    font-weight: 400;
    font-size: 18px;
}

.newsletter-section-wrap .newsletter-form-wrap form {
    display: flex;
    width: 100%;
}

.newsletter-section-wrap .newsletter-form-wrap form input[type="text"] {
    width: 70%;
    height: 40px;
    font-family: var(--fontPoppins);
    padding-left: 10px;
    border: none;
}

.newsletter-section-wrap .newsletter-form-wrap form input[type="submit"] {
    width: 30%;
    height: 40px;
    background-color: var(--themeblue);
    border: none;
    color: var(--white);
    font-family: var(--fontPoppins);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}

/* Newsletter Section End*/

/* Footer */
footer {
    padding-top: 30px;
}

footer p {
    font-family: var(--fontPoppins);
    color: var(--Black);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

footer h6 {
    font-family: var(--fontPoppins);
    color: var(--Black);
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    padding-top: 20px;
}

footer .footer-customer-support ul {
    margin-top: 10px;
}

footer .footer-customer-support ul li {
    font-family: var(--fontPoppins);
    margin-bottom: 10px;
    line-height: normal;
    font-size: 14px;
}

footer .footer-customer-support ul li a {
    color: var(--Black);
}

footer .footer-customer-support ul:nth-of-type(2) {
    margin-top: 40px;
}

footer .footer-links-wrap ul {
    margin-top: 10px;
}

footer .footer-links-wrap ul li {
    margin-bottom: 10px;
}

footer .footer-links-wrap ul li a {
    color: var(--Black);
    font-family: var(--fontPoppins);
    text-decoration: none;
    font-size: 14px;
    line-height: normal;
}

footer .social-media-links-footer {
    margin-top: 20px;
}

footer .social-media-links-footer ul {
    display: flex;
}

footer .social-media-links-footer ul li:not(:last-child) {
    margin-right: 15px;
}

footer .trust-rating-img img {
    width: 250px;
}

/* Footer End*/

/* Contact Page */
.contact-wrapper-inner-page {
    display: flex;
    background-color: #EFEEF3;
    padding: 40px 0px;
    margin-bottom: 30px;
}

.contact-info-wrap h2 {
    color: var(--Black);
    font-family: var(--fontPoppins);
    font-weight: 600;
    line-height: 40px;
}

.contact-info-wrap h6 {
    font-family: var(--fontPoppins);
    font-size: 18px;
    font-weight: 400;
    color: var(--Black);
    margin: 20px 0px;
    line-height: 28px;
}

.contact-info-wrap ul li {
    margin-bottom: 20px;
}

.contact-info-wrap ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--fontPoppins);
    color: var(--Black);
    padding-right: 30%;
    line-height: normal;
}

.contact-info-wrap ul li a img {
    margin-right: 10px;
}

.contact-info-wrap ul li p {
    font-family: var(--fontPoppins);
    color: var(--Black);
    font-size: 14px;
    margin-top: 10px;
    padding-left: 40px;
}

.contact-form-wrap .contact-form-inner {
    padding: 20px;
    background-color: var(--white);
    border-radius: 5px;
    width: 90%;
    margin-left: auto;
}

.contact-form-wrap .contact-form-inner label {
    display: block;
    font-family: var(--fontPoppins);
    font-size: 16px;
    font-weight: 400;
    color: var(--Black);
    margin-bottom: 10px;
}

.form-row {
    margin-bottom: 10px;
}

.form-row input[type="text"] {
    width: 100%;
    height: 40px;
    border: 1px solid #D3D1D1;
    border-radius: 5px;
}

.form-row input[type="tel"] {
    width: 100%;
    height: 40px;
    border: 1px solid #D3D1D1;
    border-radius: 5px;
}

.form-row input[type="email"] {
    width: 100%;
    height: 40px;
    border: 1px solid #D3D1D1;
    border-radius: 5px;
}

.form-row textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #D3D1D1;
    border-radius: 5px;
}

.contact-form-wrap .contact-form-inner p {
    font-family: var(--fontPoppins);
    font-size: 12px;
    font-weight: 400;
    color: var(--Black);
}

.contact-form-wrap .contact-form-inner .form-row input[type="submit"] {
    padding: 15px 0px;
    display: block;
    width: 100%;
    background-color: var(--themeblue);
    color: var(--white);
    font-family: var(--fontPoppins);
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

/* FAQ Page */

.faq-section-wrapper .faq-categories-wrap .faq-categories-inner-accordion h2 {
    margin: 0px 0px;
}

.faq-categories-wrap {
    background-color: #F5F5F5;
    padding: 20px 20px 0px 20px;
    position: sticky;
    top: 0;
    border: 1px solid #D7D7D7
}

.faq-categories-wrap h3 {
    font-family: var(--fontPoppins);
    margin-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 20px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 22px;
}

.faq-categories-wrap .accordion-button {
    padding: 1rem 0;
    font-weight: 500;
}

.faq-categories-wrap .accordion-item {
    border: none;
    background: transparent;
}

.faq-categories-wrap .accordion-button {
    background-color: #F5F5F5;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}

.accordion-body {
    padding: 20px 0px;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.faq-categories-inner-accordion .accordion-body ul li {
    margin-bottom: 20px;
}

.faq-categories-inner-accordion .accordion-body ul li a {
    text-decoration: none;
    font-family: var(--fontPoppins);
}

.faq-section-wrapper h2 {
    font-family: var(--fontPoppins);
    margin: 30px 0px;
    font-size: 30px;
    font-weight: 600;
    color: var(--Black);
}

.faq-section-wrapper .text-wrap-faq h4 {
    font-family: var(--fontPoppins);
    font-size: 35px;
    font-weight: 500;
    color: var(--Black);
    margin: 20px 0px;
    border-bottom: 2px solid var(--themeblue);
    padding-bottom: 20px;
}

.faq-section-wrapper .text-inner-wrap-faq h5 {
    font-size: 22px;
    color: var(--Black);
    font-family: var(--fontPoppins);
    margin-top: 20px;
}

.faq-section-wrapper .text-inner-wrap-faq {
    border-bottom: 2px solid var(--themeblue);
    padding-bottom: 20px;
}

.faq-section-wrapper .text-inner-wrap-faq:last-child {
    border-bottom: none;
}

.faq-section-wrapper .text-inner-wrap-faq p {
    font-family: var(--fontPoppins);
    margin-top: 30px;
    line-height: normal;
}

.faq-section-wrapper .text-inner-wrap-faq p a {
    color: var(--themeblue);
}

.faq-section-wrapper .text-inner-wrap-faq p:not(:last-child) {
    margin-top: 30px;
}

.faq-section-wrapper .text-inner-wrap-faq ul {
    margin-top: 20px;
    padding-left: 2rem;
    list-style: disc;
}

.faq-section-wrapper .text-inner-wrap-faq ul li {
    font-family: var(--fontPoppins);
    margin-bottom: 10px;
    line-height: normal;
}








/* Why Use CSS */



.why-use-section-row h2 {
    font-family: var(--fontPoppins);
    font-size: 50px;
    font-weight: 600;
    line-height: 75px;
}

.why-use-section-row p {
    font-family: var(--fontPoppins);
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    
}

.why-use-section-row .col-lg-6 h3 {
    font-family: var(--fontPoppins);
    font-size: 40px;
    font-weight: 500;
    line-height: 34px;
    margin-top: 5%;
}

.why-use-section-row .col-lg-6 p {
    font-family: var(--fontPoppins);
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 2%;
}

.why-use-section-row .col-lg-6 h4 {
    font-family: var(--fontPoppins);
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    margin-top: 5%;
}

.why-use-section-row .col-lg-6 ul li {
    list-style: outside;
    font-family: var(--fontPoppins);
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;

}

